Source: ganglia-sensors
Section: net
Priority: optional
Maintainer: Victor Penso <vic.penso@gmail.com>
Build-Depends: debhelper (>= 9), dh-systemd
Standards-Version: 3.9.6
Homepage: https://github.com/vpenso/ganglia-sensors
Vcs-Git: https://github.com/vpenso/ganglia-sensors.git
Vcs-Browser: https://github.com/vpenso/ganglia-sensors

Package: ganglia-monitor-slurm
Architecture: all
Depends: ${misc:Depends}, ganglia-monitor, ruby
Suggests: slurm-client
Description: Ganglia SLURM sensor
 Monitors the SLURM master and sends information
 to Ganglia with the gmetric CLI.

Package: ganglia-monitor-python-module-cvmfs-nioerr
Architecture: all
Depends: ${misc:Depends}, ganglia-monitor-python, python
Suggests: cvmfs-client
Description: Ganglia Python module: CernVM-FS I/O errors
  Ganglia sensor reporting I/O errors for file-systems
  mounted using CernVM-FS.
